a.secure-key-generator-key {
	display: inline-block;
	width: 24px;
	position: absolute;
	height: 24px;
	background-color: red;
	font-size: 0;
	margin: 3px 0 0 5px;
	background-image: url('<?php echo plugins_url('wp-config-file-editor/Modules/Editor/View/Editor/Images/cadenas.png');  ?>');
}
input[type="text"].secure-key-field {width: 540px;}