#wpwrap {
	background-color: #161616;
}

#adminmenuback, #adminmenuwrap, .wp-submenu, #adminmenu, #wpadminbar {
	background-color: #161616 !important;
}

ul#errors-bar {
    color: yellow;
    font-size: 17px;
    padding: 18px 0px;
    width: 96%;
    border-left: 6px solid red;
}
ul#errors-bar li {
  margin-left: 15px;
  background-color: #0E5B8E;
  margin-bottom: 5px;
}
	
div#wcfe-body {
	margin-top: 19px;
}
.wcfe-vars-group {
	margin-left: 5px;
}
.field-tip {
	margin:0 0 0 246px;
	color: #aaa;
}
div#help-box {
	margin: 8px;
	background-color: wheat;
	padding: 5px 22px;
	max-width: 410px;
	position: absolute;
	right: 0;
}
.field-error {
    margin-left: 35px;
    color: yellow;
    font-weight: bold;
}
input[type="text"] {
	width: 350px;
}
fieldset strong {
	background-color: white; 
	font-weight: bold; 
	padding: 0 5px;
}

.checkbox-row p.field-tip {
	display: inline;
	margin-left: 0;
}
#wcfe-toolbox {
	margin-top: 40px;
}

.field-row label, .checkbox-row label {
	width : 244px;
	display: inline-block
}

a.secure-key-generator-key {
	display: inline-block;
	width: 24px;
	position: absolute;
	height: 24px;
	background-color: red;
	font-size: 0;
	margin: 3px 0 0 5px;
	background-image: url('../Images/cadenas.png');
}
#wcfe-body input[type="text"].secure-key-field {width: 540px;}

#wcfe-body input {
	background-color: transparent;
	color: white;
}

#wcfe-options-tab {
	width: 98%;
	min-width: 700px;
}

.field-row, .checkbox-row {
	margin-bottom: 15px;
}

#wcfe-confirm-save-message {
	display: none;
	position: absolute;
}

div#wcfe-confirm-save-message-dialog {
    color: yellow;
    padding: 10px 10px;
}

#TB_window {
	background-color: transparent;
  -webkit-box-shadow: 0 3px 6px rgba(255, 224, 0, 0.3);
  box-shadow: 0 3px 6px rgba(255, 224, 0, 0.3);	
}

#TB_ajaxWindowTitle {
    background-color: yellow;
    color: red;
    font-size: 26px;
}

div#wcfe-confirm-save-message-dialog p {
  font-size: 15px;
  font-family: monospace;
  line-height: 15px;
  padding: 0;
  margin: 0 0 14px 0;
}

div#wcfe-confirm-save-message-dialog ul {
    list-style-type: disc;
    padding: 11px 49px;
}

#TB_overlay {
	background-color: black !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

#wcfe-restore-note {
	background-color: rebeccapurple;
  padding: 10px 10px;
  margin-bottom: 19px;
}

p.wcfe-restore-parameters {
    background-color: #030C12;
    padding: 11px 15px !important;
}
.wcfe-restore-link 
{
	background-color: transparent !important;
	color: yellow;
	width: 100%;
	height: 133px;
	border: none;
}

#wcfe-update-config-file {
	background-color: transparent;
  color: #EF160A;
  border: 1px solid yellow;
  padding: 1px 27px 4px;
}

#wcfe-errors-dialog 
{
	display: none;
}

#wcfe-errors-dialog-errors-list
{
  color: red;
  font-size: 14px;
}

ul.wcfe-thickbox-errors-list {
    color: red;
    background-color: #131111;
    display: none;
}