<?php
/**
* 	
*/

# Define namespace
namespace WCFE\Modules\Editor\View\Editor\Templates;

# No direct access
defined('ABSPATH') or die(WCFE\NO_DIRECT_ACCESS_MESSAGE);
	
# Getting model
$result =& $this->result();
$router =& $this->router();
$model =& $result['model'];
$form =& $result['form'];
?>
<style type="text/css">
	ul#errors-bar {color: red;background-color: white;height: 68px;overflow: auto;padding: 10px 0px 0 30px;width: 96%;}
	ul#errors-bar li {list-style-type: square;}
</style>
<style type="text/css">
	#config-file-content {width: 99%; height:800px; margin-top: 10px; font-size: 18px;}
	input[type="submit"] {float: left;}
</style>
<div id="wcfe-preview-screen">
<?php if ($model->hasErrors()) : ?>
	<ul id="errors-bar">
<?php foreach ($model->getCleanErrors() as $errorMessage) : ?>
		<li><?php echo $errorMessage; ?></li>
<?php endforeach; ?>
	</ul>
<?php $model->writeState(); # Re-write state as this is running too late! ?>
<?php endif; ?>
	<form method="post" action="<?php echo $router->routeAction() ?>">
		<div id="config-file-content"><?php echo htmlentities( $model->getConfigFileContent() ) ?></div>
		<input type="submit" value="Update" />
		<input type="hidden" name="wcfeaction" value="Preview" />
		<input type="hidden" name="rawConfigFile[<?php echo $form->getSecurityTokenName(); ?>]" value="<?php echo $form->getSecurityToken()->getValue(); ?>" />
	</form>
	<form>
<?php foreach ($router->getRouteParams() as $name => $value) : ?>
		<input type="hidden" name="<?php echo $name; ?>" value="<?php echo $value; ?>" />
<?php endforeach; ?>
		<input type="submit" value="Back" />
	</form>
</div>
